<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="mh5l_table" params="prefix">


<!-- Motoman MH5L Table URDF -->

    <link name="${prefix}table_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://mh5l_table/meshes/mh5_worktable_visual.stl"/>
            </geometry>
            <material name="table">
                <color rgba="0.8 0.8 0.8 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://mh5l_table/meshes/mh5_worktable_collision.stl"/>
            </geometry>
        </collision>
    </link>
    <link name="${prefix}back_wall">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.2 2 2.5" />
            </geometry>
            <material name="table"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.2 2 2.5" />
            </geometry>
        </collision>
    </link>
    <link name="${prefix}side_wall">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.80 0.40 1.7" />
            </geometry>
            <material name="table"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.80 0.40 1.7" />
            </geometry>
        </collision>
    </link>
 
    <joint name="table_link-back_wall" type="fixed">
        <origin xyz="-0.9 0 0.4" rpy="0 0 0"/>
        <parent link="${prefix}table_link"/>
        <child link="${prefix}back_wall"/>
    </joint>
    <joint name="table_link-side_wall" type="fixed">
        <origin xyz="-0.1 -1.10 0" rpy="0 0 0"/>
        <parent link="${prefix}table_link"/>
        <child link="${prefix}side_wall"/>
    </joint>


	<!-- Motoman MH5L Origin on Table -->
	<link name="robot_origin" />
	<joint name="robot_origin-table_link" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="${prefix}robot_origin"/>
        <child link="${prefix}table_link"/>
    </joint>
 
</xacro:macro>
</robot>